{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{pikaday-input
    onSelection=(action "setDate")
    value=(mut (get model field))
    i18n=i18n
    options=i18n
    yearRange="1900,currentYear"
    useUTC=true
    disabled=(if disabled "disabled" "")
}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
