{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{textarea value=(mut (get model field)) disabled=(if disabled "disabled" "") rows=rows placeholder=placeholder}}

{{#if displaySave}}
  {{#if (and model.hasDirtyAttributes displayNotification)}}
    {{#transition-group transitionName="display-notification-wrapper"}}
      <i class="save icon display-notification"></i>
    {{/transition-group}}
  {{/if}}
{{/if}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
