{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{#if pikadayInput}}
  {{#if noMonthYearChange}}
    <div class="field-input-date-no-month-year-change"></div>
  {{/if}}
  {{component pikadayInput
      onSelection=(action "setDate")
      value=(mut (get model field))
      i18n=i18n
      options=i18n
      yearRange="1900,currentYear"
      useUTC=useUTC
      disabled=(if disabled "disabled" "")
      placeholder=placeholder
      autocomplete="off"
      format=format
  }}
{{/if}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
