{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{quill-editor options=options value=(mut text) textChange=(action "updateText")}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
