{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{x-toggle
    theme="flip"
    size="small"
    onLabel=true
    offLabel=false
    value=isChecked
    onToggle=(action "toggle")
}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}

