 /* Form */
.form.disabled            { pointer-events: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.form.disabled .button    { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }

.form-field-wrapper                             {}
.form-field-wrapper-invalid                     { margin-bottom: 7px; display: inline-block; width: 99%; }
.form-field-wrapper-invalid input               { border: 1px solid #FF0000; padding: 2px; }
.form-field-wrapper-invalid input[disabled]     { border: 1px solid #a5a5a9; padding: 2px; }
.form-field-item                                { float: left; width: 300px; }
.form-field-item-error                          { color: #FF0000; }
.form-field-required                            { color: #FF0000; }

.form-fieldset-label                            { display: inline-block; width: 100%; padding: 8px; font-weight: bold; background-color: #F8F8F8; border: 1px solid #dddddd; border-top-left-radius: 4px; border-top-right-radius: 4px; cursor: pointer; }
.form-fieldset-label-text                       { display: inline-block; width: auto; }
.form-fieldset-label-collapse                   { border: 1px solid #dddddd; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.form-fieldset-label-collapsible                { display: inline-block; float: right; width: auto; text-align: right; margin-right: 2px; }
.form-fieldset-parameters                       { position: absolute; width: 60px; top: 6px; right: 0px; margin-right: 36px; }
.form-fieldset-content                          { padding: 8px; padding-top: 20px;  border: 1px solid #dddddd; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: 0px; }

.form-change-input                              { margin-bottom: 10px; cursor: pointer; }

button               { color: #FFF; padding: 6px 22px;  cursor: pointer; text-align: center; font-weight: bold; background-color: #888;
                       text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); border: 0px; border-radius: 3px; }
button[disabled]     { cursor: default; background-color: #888888; }

.tab-field-title     { float: left; width: 185px; height: 19px; margin-left: 1px; margin-bottom: 4px; padding-top: 3px; padding-left: 1px; padding-right: 1px;
                       font-weight: bold; text-align: center; }
.tab-field           { float: left; width: 185px; height: 19px; background-color: #EEEEEE; margin-left: 0px; margin-bottom: 8px; padding-top: 3px;
                       border: 1px solid #BBBBBB; border-radius: 3px; text-align: center; }
.tab-line-wrapper    { width: 99%; }

/* Semantic UI adjustments */
.ui.form .error-message   { color: #9F3A38;margin: 6px 0 16px;font-style: italic;}
.ui.table.clickable       { cursor: pointer; }
.ui.label                 {font-family: Arial;letter-spacing: normal;vertical-align: middle;white-space: nowrap;font-weight: normal; margin-left: 0;}
.ui.tabs                  { margin: 0 0 30px !important; }
.ui.tabs .item            { color: #616161 !important; }
.ui.tabs .item.active     { color: #000 !important; }

.button.form-button       { background-color: #aaa; color: #fff;}
.button.form-button:hover { background-color: #999; color: #fff;}
.form-button-text         { height: 100%; display: flex; align-items: center; }
.form.disabled            { pointer-events: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.form.disabled .button    { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }


/* Forms - input txt */
.field-input-text .unit                    { display: inline-block; font-size: 1em;z-index: 1; position: relative; top: 7px; }
.field-input-text .suffix-icon { font-size: 24px;cursor: pointer;z-index: 1; position: relative; top: 6px; right: -6px; }
.form.small .field-input-text .suffix-icon { top: 2px; }
.field-input-text .input-text-content         { position: relative; }
.field-input-text .input-text-content .suffix-box { position: absolute; right: 1em; top: 6px; }

.display-notification-wrapper-enter                                              { opacity: 0; }
.display-notification-wrapper-enter.display-notification-wrapper-enter-active    { opacity: 1; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;  }
.display-notification-wrapper-leave                                              { opacity: 1; }
.display-notification-wrapper-leave.display-notification-wrapper-leave-active    { opacity: 0; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.field-input-text .display-notification,
.field-input-textarea .display-notification,
.field-input-textarea-wysiwyg .display-notification                              { display: block; font-size: 1em;
                                                                                   z-index: 2; background-color: #fff; border: 1px solid #d7d7d7; border-radius: 15px; width: 30px; height: 30px; padding-top: 4px; padding-left: 1px; color: #b13d89; margin-right: -10px; }

.field-input-date-no-month-year-change                                           { position: absolute; width: 135px; height: 54px; z-index: 99999; background-color: transparent; top: 0px; left: 75px; }

/* Select */

.ember-power-select-multiple-trigger,
.ember-power-select-trigger,
.ember-power-select-dropdown { font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; margin: 0em; outline: none; -webkit-appearance: none; tap-highlight-color: rgba(255, 255, 255, 0); line-height: 1.21428571em; padding: 0.67857143em 1em; font-size: 1em; background: #FFFFFF; border: 1px solid rgba(34, 36, 38, 0.15); color: rgba(0, 0, 0, 0.87); border-radius: 0.28571429rem; -webkit-box-shadow: 0em 0em 0em 0em transparent inset; box-shadow: 0em 0em 0em 0em transparent inset; -webkit-transition: color 0.1s ease, border-color 0.1s ease; transition: color 0.1s ease, border-color 0.1s ease; }

/* .ember-power-select-multiple-trigger, */
/* .ember-power-select-trigger, */
/* .ember-power-select-dropdown            { font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; } */
.ember-power-select-options[role="listbox"] { max-height: 450px; }

/* .form .ember-power-select-multiple-trigger, */
/* .form .ember-power-select-trigger       { height: 38px;line-height: 38px;overflow-y: hidden; border: 1px solid rgba(34, 36, 38, 0.15); color: rgba(0, 0, 0, 0.87);} */
/* .form .ember-power-select-multiple-option { line-height: 30px; } */
/* .form.small .ember-power-select-multiple-trigger, */
/* .form.small .ember-power-select-trigger {height: 35px;line-height: 34px;} */
/* .form.small .ember-power-select-multiple-option { line-height: 27px; } */

.ember-power-select-trigger-multiple-input { border: 0px !important; outline-offset: 0px; width: 150px !important; padding-left: 0 !important; box-sizing: border-box; }
/* .form .ember-power-select-selected-item, */
/* .form .ember-power-select-placeholder   { margin: 0 1em; } */
.ember-power-select-selected-item,
.ember-power-select-placeholder         { margin-left: 0; }
.ember-power-select-placeholder         { color: #c1c1c1;  }
.ember-power-select-clear-btn           { font-size: 24px; right: 25px; top: 50%; height: 14px; margin-top: -6px; }

/* If there was a label in the text of the selected option, the selectbox was bigger, we need to compensate it. */
.ember-power-select-selected-item .flag32,
.ember-power-select-selected-item > .label { margin-top: -10px !important; margin-bottom: -10px !important; }

/* This must stay without any other class before the selector,
 * as the component is display on special place in the DOM. */
.ember-power-select-option                        {line-height: 18px;font-size: 13px; padding: 5px 0 5px 13px; }
.ember-power-select-multiple-trigger              {overflow: hidden;height: 100%;white-space: nowrap;}
.ember-power-select-multiple-option               {line-height: 27px;overflow: hidden;height: 27px;display: flex;margin: -6px 4px -6px 0; }
.short-labels .ember-power-select-multiple-option {width: 41px !important; }

.ui.form .ember-power-select-trigger-multiple-input[type="search"]           {padding: 0;width: 40px !important;}
/* Style for not empty placeholder */
.ui.form .ember-power-select-trigger-multiple-input:not([placeholder=""])    { width: 100% !important; }

.ember-power-select-multiple-option                                          { background-color: #e8e8e8; color: #5e5e5e; font-size: 12px; padding-right: 8px; border: 0px;}
.ember-power-select-multiple-remove-btn                                      { margin-left: 1px; margin-right: 4px; }

.field-select.error .ember-power-select-trigger,
.field-select.error .ember-power-select-multiple-trigger { background: #FFF6F6; border-color: #E0B4B4; color: #9F3A38; }

.ember-power-select-option .flag32,
.form-select-country .flag32 { vertical-align: middle; margin: 0 7px 0 0; }

/*star rating */
.star-rating                      { white-space: nowrap; }
.star-rating > .icon              { margin: 0; width: 25px; }
.star-rating.read-only            { font-size: 14px; }
.filed-star-rating > .star-rating { margin: 9px 0 0; }
.star-rating > .icon.unselected   { color: #ddd; }
.star-rating.editable .icon:hover { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); cursor: pointer; }

/* Fix for ember-world-flags as there was wrong URL when the project start with URL like /e/.... */
/* https://github.com/rounders/ember-world-flags */
.flag16 { background-image: url(../ember-world-flags/images/flags16.png) !important; }
.flag32 { background-image: url(../ember-world-flags/images/flags32.png) !important; }

/* Editable input */
.editable-value > .input { max-width: 100%; }
.editable-value .icon    { pointer-events: all !important; cursor: pointer !important; }

/* X-toggle */
.x-toggle-component                 { margin-left: -4px; justify-content: left; }
.x-toggle-container.small           { width: 62px; }
.x-toggle-flip.small                { height: 20px; }
.x-toggle-flip.x-toggle-btn::before { background: #AE95A7 url(../ember-c-form/form-cross.svg?new) no-repeat 50% 50% !important; background-size: 12px !important; color: transparent; }
.x-toggle-flip.x-toggle-btn::after  { background: #AA1982 url(../ember-c-form/form-check.svg?new) no-repeat 50% 50% !important; background-size: 17px !important; color: transparent; }

.x-toggle-container { padding: 0; }
.x-toggle-component { display: flex; justify-content: left; align-items: left; }
.x-toggle:checked + label > .x-toggle-default.x-toggle-btn {background-color: #f2711c;}

.inline-checkbox .x-toggle-component { display: inline-block; float: left; width: 75px; }
.inline-checkbox label               { display: inline-block !important; width: 330px; }

/* Yes or no toggle */
.form-field-input-yes          { background: #AE95A7 url(../ember-c-form/form-check.svg?new) no-repeat 50% 50% !important; background-size: 17px !important; color: transparent; }
.form-field-input-no           { background: #AE95A7 url(../ember-c-form/form-cross.svg?new) no-repeat 50% 50%!important; background-size: 12px !important; color: transparent; }
.form-field-input-yes,
.form-field-input-no           { width: 54px; height: 20px; border-radius: 3px; float:left; margin-right: 9px; }
.form-field-input-yes-checked  { background: #AA1982 url(../ember-c-form/form-check.svg?new) no-repeat 50% 50% !important; background-size: 17px !important; color: transparent; }
.form-field-input-no-checked   { background: #AA1982 url(../ember-c-form/form-cross.svg?new) no-repeat 50% 50% !important; background-size: 12px !important; color: transparent; }

/* c-form-color-line */
.form-color-line               { display:inline-block; width: 80%; margin-left: 0; margin-right: 13px; text-align: right; padding: 0px;}

/* c-form-test */
#c-form-test-content           { position: relative; margin: 30px 30px 40px !important; width: auto; max-width: 100% !important; }

/* c-form-input-template */
.input-template                           { clear: both; position: relative; }
.input-template-wrapper                   { clear: both; position: absolute; }
.input-template-content                   { position: absolute; }
.input-template-window                    { text-align: left; width: 380px; border: 1px solid #ddd; background-color: #fff; padding: 10px; margin: 5px 0px; z-index: 50; -moz-box-shadow: 2px 2px 6px #555; -webkit-box-shadow: 2px 2px 6px #555; box-shadow: 2px 2px 6px #555; font-size: 11px; }
.input-template-window .row               { border-bottom: 1px dotted #ddd; margin: 0px 5px; cursor: pointer; clear: both; line-height: 15px; padding: 2px 0 3px; }
.input-template-window .row:last-child    { border-bottom: 0; }
.input-template-window .delete-icon       { float: right; width: 20px; height: 18px; }
.input-template-window .delete-icon:hover { background-color: #bababa; }
.input-template-window .row:hover         { background-color: #f5f5f5; }
.ui.button.save-button                    { float: right; margin: 3px 14px 0 0; }
.ui.button.save-button-no-templates       { float: right; margin: -3px 0 0 0; }

/* c-form-field-copy-to-clipboard-text */
.copy-to-clipboard-button.ui.button       { margin: 7px 0 30px 0; }

/* c-form-field-copy-to-clipboard-html */
#copy-to-clipboard-html-tables            { width: 100%; padding: 0.78571429em 1em; border: 1px solid rgba(34, 36, 38, 0.15); border-radius: 0.28571429rem; min-height: 250px; max-height:500px; margin: 20px 0 20px 0; overflow: hidden; overflow-y: scroll; }

/* c-form-tag-input */
.ui.form .ember-power-select-trigger-multiple-input[type="search"]                          { }
.ui.form .form-tag-input .ember-power-select-trigger                                        { padding: 3px 8px 6px 8px; }
.ui.form .form-tag-input .ember-power-select-trigger i.icon                                 { display: none; }
.ui.form .form-tag-input .ember-power-select-trigger-multiple-input[type="search"]          { padding-top: 4px; }
.form-tag-input-item                                                                        { text-transform: lowercase; }
.ember-basic-dropdown-content .ember-power-select-option i.icon.form-tag-input-delete       { color: transparent; }
.ember-basic-dropdown-content .ember-power-select-option:hover i.icon.form-tag-input-delete { color: #fff; }
i.icon.form-tag-input-delete                                                                { position: absolute; width: auto; height: auto; display: inline-block; right: 25px; font-size: 11px; padding: 0px 3px; border-radius: 3px; border: 1px solid transparent; margin-right: 10px; }
i.icon.form-tag-input-delete:hover                                                          { border: 1px solid #eee; }

/* c-form-field-input-conditional */
.field-input-conditional .button-yes,
.field-input-conditional .button-no                           { width: 48%; margin-right: 0; height: 34.6px !important; }
.field-input-conditional .button-no                           { float: right}
.field-input-conditional > .two.fields.buttons-and-yield      { margin-bottom: 0;}
/* Dont't show error message for the yield content (we don't want two error messages) */
.field-input-conditional .field.error .error-message          { display: none;}
